# {{ include.flagname }} Flag Emoji

![{{ include.flagnameshort }} emoji based flag](/images/AccordingToUnicode/Medium/FlagsAccordingToUnicode-{{ include.flagnameshort }}.png)

Clearly, this is not the {{ include.flagname | downcase }} flag.  But according to Unicode, it's good enough.  They've told us to "leverage existing Unicode symbols" to make our flags, and this is the result.

![{{ include.flagnameshort }} emoji based flag compared to the real flag](/images/AccordingToUnicode/Medium/FlagsAccordingToUnicode-{{ include.flagnameshort }}SxS.png)

It's clear that existing symbols are not sufficient to represent the {{ include.flagnameshort | downcase }} flag.  Existing symbols force us to use something like {{ include.flagemojis }}, which is utterly ridiculous.  The colors don't match, you have to already know what it's supposed to be in order to recognize it, it's multiple characters instead of one, and worst of all, it may look entirely different on your device, as different companies have different looking emojis.

![{{ include.flagnameshort }} emoji based waving flag](/images/Flags/Large/prideflag_big_{{ include.flagnameshort | downcase }}emoji_animated.gif)

_Coming to a pride parade near you, courtesy of the Unicode Consortium!  <sup>(* Not Really)</sup>_

# What We're Doing About It

As it stands, there are only two pride flag emojis: 🏳‍🌈 and 🏳️‍⚧️  This is clearly not enough to represent the diverse, worldwide LGBTQIA+ community.  So that's why we're starting a campaign for #MorePrideEmojis.

Our goal is to put together a proposal for a number of pride flags and submit it to Unicode for inclusion in the official set of emojis.  [What is Unicode](/what-is-unicode), you ask?  They set the standard for how computers encode text, including emojis.  If we want to get the {{ include.flagnameshort | downcase }} flag emoji, we have to go through them.

# How You Can Help

* Share the images on this page with your friends and on social media with the hashtag #{{ include.flagnameshort }}FlagEmoji.
* Use {{ include.flagemojis }} or something similar to illustrate the absurdity of the current situation.
* [Sign the petition](https://www.change.org/p/pride-flag-emojis)!
* [Sign up](https://forms.gle/Tu7iHNTucw6rH4Tq6) to be updated on our progress or to help us with this campaign!

Together, we can make this happen!