# {{ include.flagname }} Flag Emoji

![{{ include.flagnameshort }} emoji based flag](/images/AccordingToUnicode/Medium/FlagsAccordingToUnicode-{{ include.flagnameshort }}.png)

Clearly, this is not the {{ include.flagname | downcase }} flag.  But according to Unicode, it's good enough.  They've told us to "leverage existing Unicode symbols" to make our flags, and this is the result.

![{{ include.flagnameshort }} emoji based flag compared to the real flag](/images/AccordingToUnicode/Medium/FlagsAccordingToUnicode-{{ include.flagnameshort }}SxS.png)

It's clear that existing symbols are not sufficient to represent the {{ include.flagnameshort | downcase }} flag.  Existing symbols force us to use something like {{ include.flagemojis }}, which is utterly ridiculous.  The colors don't match, you have to already know what it's supposed to be in order to recognize it, it's {{ include.flagemojis | size }} characters instead of one, and worst of all, it may look entirely different on your device, as different companies have different looking emojis.

![{{ include.flagnameshort }} emoji based waving flag](/images/Flags/Large/prideflag_big_{{ include.flagnameshort | downcase }}emoji_animated.gif)

_Coming to a pride parade near you, courtesy of the Unicode Consortium!_

# What We're Doing About It

As it stands, there are only two pride flag emojis: 🏳‍🌈 and 🏳️‍⚧️